body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

img {
    display: flex;
    background-size: cover;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 490px;
    background: rgba(128,128,128,0.3);
    border-radius: 25px;
    box-sizing: border-box;
    align-items:center;
    justify-content:center;
}

::placeholder {
    color: white;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}
 input[type = text], [type = email], [type = password], [type = "confirm"], [type = tel], [type = date] {
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #0077ff;
    background: none;
    padding: 10px ;
    color: white;

}

input[type=text] {
    top:55px;
    left: 40px;
}
input[type=email] {
    top: 110px;
    left: 40px;
}
input[type=password] {
    top: 165px;
    left: 40px;
}
input[type=password].confirm {
    top: 220px;
    left: 40px;
}
input[type=tel] {
    top: 275px;
    left: 40px;
}
input[type=date] {
    top: 330px;
    left: 40px;
}

input[type=submit]{
    position: absolute;
    top: 415px;
    left: 110px;
    outline: none;
    border: none;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    background: #0077ff;
}

input[type=submit]:hover {
    background: white;
    color: #0077ff;
}
.box form div i {
    font-size: 16px;
    margin: 9px 14px 30px  ;
    color: black;
}

.box form div i:hover {
    color: #00b4d8;
}
section {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    padding: 0 0 0 100px;
    color: white;
    display: flex;
    justify-content: space-between;
}

section a {
    font-weight: 500;
    text-decoration: none;
    color: #0077ff;
    padding: 0 100px 0 0;
}
section a:hover {
    color: #0077b6;
}
